.App {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.app-title {
  color: #333;
}

.task-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
  max-width: 40%;
}

.add-button,
.complete-button,
.delete-button,
.edit-button,
.update-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate buttons */
  transition: background-color 0.3s, color 0.3s;
}

.add-button {
  background-color: #3498db;
  color: white;
}

.complete-button {
  background-color: #27ae60;
  color: white;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
}

.edit-button {
  background-color: #f39c12;
  color: white;
}

.update-button {
  background-color: #311569;
  color: white;
}

.add-button:hover,
.complete-button:hover,
.delete-button:hover,
.edit-button:hover,
.update-button:hover {
  background-color: #333; /* Darken the color on hover */
}

.tasks-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow tasks to wrap on smaller screens */
}

.tasks-list {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin: 10px; /* Add margin to separate task lists */
  max-height: 300px;
  overflow-y: auto;
}

h3 {
  color: #333;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
form {
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
}

h2 {
  font-size: 16px;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-right: 20px;
}

h2 {
  font-size: 18px;
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: stretch;
  }

  form {
    width: 100%;
    margin-bottom: 20px;
  }
}
.header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.nav-item {
  margin: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #555;
}
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-content a:hover {
  color: #66aaff;
}
